<style>
    .step-number{
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 30px;
        color: var(--heading-color);
    }

</style>


<section id="portfolio-details" class="portfolio-details section">

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-8">

                {% if about_liste_all.id|filter_array_media_about %}
                    <div class="portfolio-slider-container">
                        <div class="portfolio-details-slider swiper init-swiper">
                            <script type="application/json" class="swiper-config">
                                {
                                    "loop": true,
                                    "speed": 600,
                                    "autoplay": {
                                        "delay": 5000
                                    },
                                    "slidesPerView": 1,
                                    "pagination": {
                                        "el": ".swiper-pagination",
                                        "type": "bullets",
                                        "clickable": true
                                    },
                                    "navigation": {
                                        "nextEl": ".swiper-button-next",
                                        "prevEl": ".swiper-button-prev"
                                    }
                                }
                            </script>
                            <div class="swiper-wrapper">
                                {% for item in about_liste_all.id|filter_array_media_about %}
                                    <div class="swiper-slide">
                                        <img src="{{ asset('') }}assets/img/about_us/{{ item.img }}" alt="{{ about_liste_all.title }} media" class="img-fluid rounded-4">
                                    </div>
                                {% endfor %}

                            </div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                {% endif %}


                <div class="project-description">
                    <h2>{{ about_liste_all.title }}</h2>

                    {{ about_liste_all.description|raw }}
                </div>

            </div>

            <div class="col-lg-4">

                <div class="related-projects" data-aos="fade-up">
                    <h3>Related Services</h3>



                    {% for item in services_liste_all %}
                        <div class="related-item">
                            {% for datamedia in item.id|filter_array_media_service %}
                            {# verifier si un image est vide#}
                            {% if datamedia.active == 1 %}
                                {% if datamedia.img %}
                                    <img src="{{ asset('') }}assets/img/services/{{ datamedia.img }}" alt="{{ item.title }}" class="img-fluid rounded-1">
                                {% endif %}
                            {% endif %}
                            {% endfor %}

                            <div class="related-content">
                                <h4>{{ item.title }}</h4>
                                {#<p>{{ item.content | raw }}</p>#}
                                {% set content_limit = 100 %}
                                {% set clean_text = item.content | striptags %}

                                <p>
                                    {{ clean_text | slice(0, content_limit) }}
                                    {% if clean_text | length > content_limit %}...{% endif %}
                                </p>
                                <a href="{{ path('app_service_detail_page', { 'id': item.id, 'cmd': '2' }) }}" class="related-link">View Service <i class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    {% endfor %}

                </div>

            </div>

        </div>

    </div>

</section><!-- /Portfolio Details Section -->
