
{% if carouseles %}
    <section id="hero" class="hero section dark-background">

        <div class="info d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-8 text-center">
                        <h2>{{ carouseles.title }}</h2>
                        <p>{{ carouseles.content }}</p>
                        {% if carouseles.urlstatuts %}
                            <a href="{{carouseles.urldata}}" class="btn-get-started">{{carouseles.urlname}}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>


        <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
        {% for item in liste_carousel_image  %}
            <div class="carousel-item {{ item.start ? 'active' : '' }}" >
                <img src="{{ asset('assets/img/slider/'~item.image) }}" alt="{{ carouseles.title }}" title="{{ carouseles.title }}">
            </div>
        {% endfor %}
        </div>

    </section><!-- /Hero Section -->
{% endif %}
