<!-- Team Section -->
<section id="team" class="team section light-background">

    <!-- Section Title -->
    <div class="container section-title">
        <h2>Team</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up">

        <div class="row gy-4 justify-content-center">
            {% for team in teams_liste %}
                <div class="col-lg-3 col-md-6" data-aos="fade-up">
                    <div class="team-card">
                        <div class="image-wrapper">
                            <img src="{{ asset('') }}assets/img/person/{{ team.img }}" alt="Team Member" class="img-fluid">
                            <div class="social-links">
                                <a href="#"><i class="bi bi-twitter"></i></a>
                                <a href="#"><i class="bi bi-linkedin"></i></a>
                                <a href="#"><i class="bi bi-github"></i></a>
                            </div>
                        </div>
                        <div class="content">
                            <h4>{{ team.title }}</h4>
                            <span class="position">{{ team.poste }}</span>
                            <p>{{ team.content|raw }}</p>
                        </div>
                    </div>
                </div><!-- End Team Member -->

            {% endfor %}



        </div>


    </div>

</section><!-- /Team Section -->
