<!DOCTYPE html>
<html lang="en">
{% set version = '1.0.1' %}
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Admin | {% block title %}Welcome!{% endblock %}</title>

    <!-- Favicons -->
    <link href="{{ asset('') }}assets/img/favicon.png" rel="icon">
    <link href="{{ asset('') }}assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Vendor CSS Files -->
    <link href="{{ asset('') }}assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ asset('') }}assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{{ asset('') }}assets/css/style_dash.css" rel="stylesheet">
    <link href="{{ asset('') }}assets/css/table_perso_dash.css" rel="stylesheet">


</head>

<body>



{% include 'theme_adm/menu_top.html.twig' %}


{% include 'theme_adm/menunav.html.twig' %}

<main id="main" class="main">

{% block body %}{% endblock %}

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{{ asset('') }}assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="{{ asset('') }}assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="{{ asset('') }}assets/vendor/tinymce/tinymce.min.js"></script>

<!-- Template Main JS File -->
<script src="{{ asset('') }}assets/js/main_dash.js"></script>

</body>

</html>


