<style>
    .glightbox.portfolio-lightbox.personaldata {
        display: none !important; /* !important est souvent nécessaire pour outrepasser les styles de la librairie Glightbox */
    }
    .portfolio-info p {
        /* Styles hérités ou demandés */
        color: #555;
        font-style: italic;
        margin-top: 0;
        /*margin-bottom: 10px;*/

        /* Styles cruciaux pour la limitation de hauteur */
        height: 85px; /* Fixe la hauteur maximale autorisée */
        /*max-height: 80px; !* Fixe la hauteur maximale autorisée *!*/
        overflow: hidden; /* Masque tout contenu qui dépasse 30px */
        padding: 0;       /* Assure qu'aucun padding n'ajoute de hauteur inattendue */

        /* Autres ajustements pour la lisibilité */
        line-height: 1.2; /* Ajustement de l'espace entre les lignes */

        /* Assurez-vous que l'élément est traité comme un bloc pour que max-height fonctionne */
        display: block;


    }



</style>


<!-- Portfolio Section -->
<section id="portfolio" class="portfolio section">
    <!-- Section Title -->
    <div class="container">
        <h2>{{ services_data.title_sub }}</h2>
        <p>{{ services_data.content_sub }}</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up">


        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">
            <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="200">
                <li data-filter="*" class="filter-active">All</li>


                {% for data in m_liste %}
                    <li data-filter=".filter-data-{{ data.id }}">{{ data.title }}</li>
                {% endfor %}
            </ul><!-- End Portfolio Filters -->

            <div class="row gy-4 isotope-container" data-aos="fade-up">




                {% for data in services_liste_all %}
                    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-data-{{ data.idlst }}">
                        <div class="portfolio-card">
                            <div class="portfolio-img">
                            {% for datamedia in data.id|filter_array_media_service %}
                               {# verifier si un image est vide#}
                                {% if datamedia.active == 1 %}
                                    {% if datamedia.img %}
                                    <img src="{{ asset('') }}assets/img/services/{{ datamedia.img }}" alt="Portfolio Item" class="img-fluid">
                                    {% else %}
                                    <img src="{{ asset('') }}assets/img/services/default.jpg" alt="Portfolio Item" class="img-fluid">
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                <img src="{{ asset('') }}assets/img/services/default.jpg" alt="Portfolio Item" class="img-fluid">
                            {% endfor %}


                                <div class="portfolio-overlay">

                                    {% for datamedia in data.id|filter_array_media_service %}
                                        <a href="{{ asset('') }}assets/img/services/{{ datamedia.img }}" class="glightbox portfolio-lightbox {{ datamedia.active == 1 ? true : 'personaldata' }}" data-gallery="perso-gallery_{{ data.id }}">{{ datamedia.active == true ? '<i class="bi bi-plus"></i>' : '' }}</a>
                                    {% endfor %}
                                    <a href="{{ path('app_service_detail_page', { 'id': data.id, 'cmd': '2' }) }}" class="portfolio-details-link"><i class="bi bi-link"></i></a>
                                </div>
                            </div>

                            <div class="portfolio-info">
                                <h4>{{ data.title }}</h4>
                                <p>{{ data.content|raw }}</p>
                                <div class="portfolio-tags">
                                    {% for data_filter in data.idlst|filter_array_listename %}
                                        <a href="{{ path('app_service_detail_page', { 'id': data.id, 'cmd': '2' }) }}" title="{{ data_filter.title }}">
                                            <span>{{ data_filter.title }}</span>
                                        </a>
                                    {% else %}
                                        <a href="{{ path('app_service_detail_page', { 'id': data.id, 'cmd': '2' }) }}" title="{{ data.title }}">
                                            <span>All</span>
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>





                        </div>
                    </div>
                {% endfor %}




            </div><!-- End Portfolio Items Container -->

        </div>
    </div>
</section><!-- /Portfolio Section -->
