

<!-- Service Details Section -->
<section id="service-details" class="service-details section">

    <div class="container" data-aos="fade-up">

        <div class="row gy-5">

            <div class="col-lg-8">
                <div class="service-main-content">
                    <div class="service-image" data-aos="fade-up">

                            <div class="portfolio-slider-container">
                                <div class="portfolio-details-slider swiper init-swiper">
                                    <script type="application/json" class="swiper-config">
                                        {
                                            "loop": true,
                                            "speed": 600,
                                            "autoplay": {
                                                "delay": 5000
                                            },
                                            "slidesPerView": 1,
                                            "pagination": {
                                                "el": ".swiper-pagination",
                                                "type": "bullets",
                                                "clickable": true
                                            },
                                            "navigation": {
                                                "nextEl": ".swiper-button-next",
                                                "prevEl": ".swiper-button-prev"
                                            }
                                        }
                                    </script>
                                    <div class="swiper-wrapper">

                                        {% for img in media_data %}
                                            {% if  img.img %}
                                                <div class="swiper-slide">
                                                    <img src="{{ asset('') }}assets/img/services/{{ img.img }}" alt="{{ detail.title }}" class="img-fluid rounded-4">
                                                </div>
                                            {% endif %}
                                        {% endfor %}


                                    </div>
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>
                                </div>
                            </div>

                    </div>

                    <div class="service-description" data-aos="fade-up">
                        <div class="process-steps" data-aos="fade-up" >
                            <h4>{{ detail.title }}</h4>
                            <div class="steps-container">
                               {{ detail.description |raw }}
                            </div><!-- End Steps -->
                        </div>

                    </div>
                </div>
            </div>



            <div class="col-lg-4">
                <div class="service-sidebar" data-aos="fade-up">

                    <div class="cta-card fixed-cta-position">
                        <h4>Ready to Get Started?</h4>
                        <p>Let's discuss your project requirements and create a custom solution for your business.</p>
                        <a href="{{ detail.link_ebook }}" target="_blank" class="btn btn-primary">Request a Quote</a>
                    </div>

                </div>
            </div>

        </div>

    </div>

</section><!-- /Service Details Section -->
